numpy
pandas
matplotlib
seaborn
nltk
scikit-learn==1.7.2
streamlit
tinydb
folium
streamlit-folium
gtts
spacy
spacy-lookups-data
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
fuzzywuzzy
python-Levenshtein
fastapi
uvicorn
requests
pyttsx3
feedparser
# python version 3.10.9